* {
    font-family: 'Lato', sans-serif;  }
  
  scroll-content {
    overflow-y: auto;
  }
  
  .custom_footer {
    position: fixed;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: 9999;
    background: var(--ion-color-light);
  
    padding-bottom: 0%;
   
    ion-col {
      text-align: center !important;
  
    }
  
    .faicon {
      color: var(--ion-color-medium);
      font-size: 1.61rem;
      border-radius: 5px;
      padding: 6px 4px;
    }
  
    ion-label {
      font-size: 0.71rem;
      color: var(--ion-color-medium);
  
    }
  
    :focus {
      outline: none;
    }
  
    ion-label {
      display: block;
      text-align: center;
      font-size: 0.81rem;
      color: var(--ion-color-medium);
      //  letter-spacing: 0.5px;
    }
  }
  
  .active {
    .faicon {
      color: #fff;
      font-size: 1.61rem;
      border-radius: 5px;
      padding: 6px;
      background: var(--ion-color-primary);
  
    }
  }
  
  .circle {
    width: 6vh;
    height: 6vh;
    background: var(--ion-color-light);
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 50%;
    position: fixed;
    z-index: 3;
    left: 50%;
    transform: translate(-50%);
    bottom: 4%;
    border: 2px solid var(--ion-color-danger);
  
  }
  .circle2 {
    width: 4vh;
    height: 4vh;
    background: var(--ion-color-primary);
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    position: fixed;
    z-index: 4;
    left: 50%;
    transform: translate(-50%);
    bottom: 5%;
  }
  