<ion-row class="custom_footer">
  <ion-col size="6" routerLink="/dashboard" [class]="home">
    <i class="fas fa-home fa-fw faicon"></i>
    <ion-label>Home</ion-label>
  </ion-col>
  <!-- <ion-col size="4" routerLink="/doctorlist" [class]="booking">
    <i class="fas fa-plus-circle fa-fw faicon"></i>
    <ion-label>Book</ion-label>
  </ion-col> -->
  <ion-col size="6" routerLink="/schedule" [class]="schedule">
    <i class="fas fa-calendar fa-fw faicon"></i>
    <ion-label>Request & Orders</ion-label>
  </ion-col>
  <!-- <ion-col size="4" routerLink="/profilepage" [class]="profilepage">
      <i class="fas fa-user-circle faicon"></i>
      <ion-label>Profile</ion-label>
  </ion-col>  -->
  <!--  <div class="circle"></div>
  <div class="circle2"></div> -->
</ion-row>