*{
    font-family: 'Nunito Sans', sans-serif;
    }



.form{
    padding-left: 2%;
    padding-right: 2%;
}
.last_row {
    padding-left: 3%;
    padding-right: 3%;
  }
  
  .footerbtn {
    position: fixed;
    bottom: 0;
    padding-bottom: 3%;
    left: 3%;
    right: 3%;
    z-index: 9999;
    background: var(--ion-color-light);
  }


ion-input,ion-select{
    border-bottom: 1px solid var(--ion-color-primary) ;
    color: var(--ion-color-medium);
    width: 100%;
    margin: 0;
    padding: 0;

}

.no_pad{
    margin: 0;
    padding: 0;
}
h2{
font-weight: 400;
margin-left: 20px;
}
p{
    margin-left: 20px;   
    color: var(--ion-color-newcolor);
    font-size: 0.8em;
}
.left_pad{
    padding-left: 6%;
}

table,
td,
th {
  border: 1px solid var(--ion-color-medium2-tint);
  text-align: left;
  font-size: 0.9em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 15px;
  font-weight: bold;
  color: var(--ion-color-medium);
}

td {
  padding: 15px;
  color: var(--ion-color-medium);
}

.fa-trash.delete {
  color: #fff;
}