* {
  font-family: 'Nunito Sans', sans-serif;
}

.form {
  padding-left: 2%;
  padding-right: 2%;
}

.forgot {
  float: right;
  font-size: 0.8em;
  color: var(--ion-color-secondary);
  padding-top: 10px;
}

.last_row {
  padding-left: 3%;
  padding-right: 3%;
}

h2 {
  font-weight: bold;
  line-height: 14px;
}

p {
  line-height:1.4em;
  color: var(--ion-color-medium);
  font-size: 0.9em;
  text-align: justify;  

}

.image_container {
  text-align: center;
  padding: 1vh 2vh;
  img {
    height:15vh;
    width: auto;
  }
}
