<ion-content class="main_container">
  <ion-row class="custom_toolbar">
    <ion-toolbar color="light_background">
      <span class="header_span" routerLink="/dashboard">
        <i class="fas fa-angle-left fa-fw"></i>
      </span>
    </ion-toolbar>
  </ion-row>

  <div class="image_container">
    <img src="assets/logo/logo.png" alt="">
  </div>


  <div>
    <form #form_login="ngForm" class="form">
      <ion-grid>

        <h2>About Us</h2>
        <ion-row>
          <ion-col size="12">
            <p>
              Welcome to My Technicians, your number one source for all home applaiance repair,maintainance and extend warranty services. Founded in 2018, My Technicians has come a long way from its beginnings.

            </p>
            <p>
              We hope you enjoy our services as much as we enjoy offering them to you. If you have any questions or
              comments, please don't hesitate to contact us.
            </p>
          </ion-col>
        </ion-row>



      </ion-grid>
    </form>
  </div>
</ion-content>
