<ion-content class="main_container">
  <div class="image_container">
    <img src="assets/svg/undraw_Access_account_re_8spm.svg" alt="">
  </div>


  <div>
    <form #form_register="ngForm" class="form">
      <ion-grid>

        <h2>New here ?</h2>
        <p>Sign up to create account</p>
        <ion-row>

          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating"> Full Name</ion-label>
              <ion-input type="text" ngModel name="full_name" required full_name></ion-input>
              <ion-text class="error_msg" color="danger" *ngIf="full_name"> This field is required</ion-text>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating"> Mobile No</ion-label>
              <ion-input type="number" ngModel name="mobile" required username (ionInput)="check_exist_mobile($event)">
              </ion-input>
              <ion-text class="error_msg" color="danger" *ngIf="mobile_length"> Enter mobile number of 10 digit.
              </ion-text>
              <ion-text class="error_msg" color="danger" *ngIf="mobile_no_exist"> This mobile number is already
                registered with us.</ion-text>

            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating"> Email</ion-label>
              <ion-input type="text" ngModel name="email" email></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" ngModel name="password" required></ion-input>
              <ion-text class="error_msg" color="danger" *ngIf="password"> This field is required</ion-text>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating">Address</ion-label>
              <ion-input type="text" ngModel name="address" required></ion-input>
              <ion-text class="error_msg" color="danger" *ngIf="address"> This field is required</ion-text>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating">Pincode</ion-label>
              <ion-input type="number" ngModel name="pincode" required></ion-input>
              <ion-text class="error_msg" color="danger" *ngIf="pincode"> Enter 6 digit pincode</ion-text>
            </ion-item>
          </ion-col>

        </ion-row>


        <ion-row class="last_row">
          <ion-col size="12">
            <ion-button color="secondary" expand="block" (click)="confirm_mobile(form_register)">
              Create Account
            </ion-button>
          </ion-col>

          <ion-col size="12">
            <ion-button color="secondary" expand="block" fill="outline" routerLink="/login">
              Sign In
            </ion-button><br>
            <!-- <label class="remember">Don't have an account ? </label><a (click)="goTosignup()">Sign up</a> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>


  <div class="loader" *ngIf="loader_visibility">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </div>
</ion-content>