* {
  font-family: 'Nunito Sans', sans-serif;
}

.image_container {
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 1vh;

  img {
    height: 20vh;
    width: 20vh;
  }
}

.top_wave {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;

}

.form {
  padding-left: 2%;
  padding-right: 2%;
}

.last_row {
  padding-left: 3%;
  padding-right: 3%;

}

ion-input {
  border-bottom: 1px solid var(--ion-color-primary);

}

ion-icon {
  font-size: 16px;
}

h2 {
  font-weight: 400;
  line-height: 14px;
  margin-left: 20px;
}

p {
  margin-left: 20px;
  color: var(--ion-color-newcolor);
  font-size: 0.8em;
}
