<ion-content class="main_container">
  <ion-row>
    <ion-col size="11">
    </ion-col>
    <ion-col size="1">
      <span class="cross_icon" (click)="dismiss()"><i class="fas fa-times"></i></span>

    </ion-col>

  </ion-row>
  <div class="image_container">
    <img src="assets/svg/undraw_for_review_eqxk.svg" alt="">
  </div>


  <div>
    <form #form_rate="ngForm" class="form">
      <ion-grid>


        <ion-row>
          <h1>Your rating matter to us!</h1>
          <h2>Rate and share your experience about our service.</h2>


          <ion-col size="12">
            <ion-col size="2" (click)="active_star('1')">
              <i class="fas fa-star fa-fw star_color active" id="star1"></i>
            </ion-col>
            <ion-col size="2" (click)="active_star('2')">
              <i class="fas fa-star fa-fw star_color" id="star2"></i>
            </ion-col>
            <ion-col size="2" (click)="active_star('3')">
              <i class="fas fa-star fa-fw star_color" id="star3"></i>
            </ion-col>
            <ion-col size="2" (click)="active_star('4')">
              <i class="fas fa-star fa-fw star_color" id="star4"></i>
            </ion-col>
            <ion-col size="2" (click)="active_star('5')">
              <i class="fas fa-star fa-fw star_color" id="star5"></i>
            </ion-col>
          </ion-col>



          <ion-col size="12">
            <ion-item lines="none">
              <ion-label position="floating">Describe</ion-label>
              <ion-textarea rows="4" name="review" ngModel required></ion-textarea>
              <ion-text class="error_msg" color="danger" *ngIf="review"> This field is required.
              </ion-text>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row class="last_row">
          <ion-col size="12">
            <ion-button color="secondary" expand="block" (click)="submit_rating(form_rate)">
              Submit
            </ion-button>
          </ion-col>


        </ion-row>
      </ion-grid>
    </form>
  </div>
  <div id="snackbar"> <span id="snackbar_error"></span></div>


 
</ion-content>